@font-face {
font-family: "RobotoLight";  
src: url("fonts/Roboto-Light_0.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}
@font-face {
font-family: "RobotoRegular";  
src: url("fonts/Roboto-Regular_0.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}
@font-face {
font-family: "Xolonium";  
src: url("fonts/Xolonium-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}
body {
	background-color: #000;
	margin: 0;
	position: relative;
	margin-top: 25px;
}
.landing {
	width: 1215px;
	margin: auto;
	position: relative;
}
header {
	width: 1142px;
	display: grid;
	grid-template-columns:175px 1fr 274px;
	height: 45px;
	position: fixed;
	margin:auto;
	z-index: 10;
	padding-bottom:25px;
	z-index: 12;
	left: 0;
    right: 0;
}
.helloheader {	
	min-width: 1142px;
	position: fixed;
	left: 0;
    right: 0;
	height: 95px;
	    top: 0;
	    z-index: 11;
}
.header-logo-asus {
	background-image: url(images/logo-asus.png);
	background-position: center;
	background-repeat: no-repeat;
}
.header-logo-rog {
	background-image: url(images/logo-rog.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 45px;
}
.header-title {
  font-size: 16px;
  font-family: "Xolonium";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 45px;
  text-align: center;
  display: none;
}
.bg-strix {
	background-image: url(images/strix/strix-img.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	width: 1067px;
	height: 387px;
    position: absolute;
    left: -104px;
    top: -4px;
    z-index: -1;
    animation-name: strix;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg-note1 {
	background-image: url(images/note-img1.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 719px;
    height: 526px;
    position: absolute;
	left: 512px;
	top: 27px;
	z-index: 2;
}
.bg-strix-rog {
	background-image: url(images/ROG-strix-gl553.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 483px;
	height: 44px;
    position: absolute;
	left: 45px;
	top: 327px;
}
.without-compromise {
  background-image: url(images/gaming.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 504px;
	height: 56px;
  position: absolute;
  left: 36px;
  top: 352px;
  z-index: 9;
}
.description-compromise {
  position: absolute;
  left: 56px;
	top: 419px;
	width: 467px;
	z-index: 2;
}
.red-light {
	background-image: url(images/red-light.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -240px;
    top: 355px;
	width: 708px;
	height: 405px;
	z-index: 1;
}
.bg2-img {
	background-image: url(images/bg-img.jpg);
    top: 648px;
	height: 709px;
}
.bg3-img {
	background-image: url(images/bg3-img.jpg);
	height: 709px;
	top: 1385px;
}
.bg5-img {
	background-image: url(images/cooler/bg.jpg);
	height: 620px;
	top: 2655px;
}
.bg6-img {
	background-image: url(images/bg6-img.jpg);
	top: 3346px;
	height: 536px;
}
.bg8-img {
	background-image: url(images/bg8-img.jpg);
	top: 4540px;
	height: 1251px;
}
.bg7-img {
	background-image: url(images/bg7-img.png);
	    top: 3839px;
	width: 1142px !important;
	background-position-x: -257px !important;
	height: 650px;
	left: 52px !important;
	background-position-y: -1px !important;
}
.bg9-img {
	background-image: url(images/bg9-img.png);
	top: 5240px;
	left: -70px !important;
    height: 644px;
	background-position-y: -1px !important;
	z-index: 2 !important;
	animation-name: logo;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg-img {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	z-index: -1;
	min-width: 1215px;
}
.note-img2{
	background-image: url(images/note-img2.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 44px;
	top: 547px;
	width: 1127px;
	height: 760px;
	z-index: 1;
}
.perfomance {
	position: absolute;
	left: 544px;
	top: 733px;
	width: 606px;
	height: 21px;
	z-index: 2;
}
.title-red {
	font-size: 26px;
	font-family: "Xolonium";
	color: rgb(255, 3, 31);
	text-transform: uppercase;
}
.description {
	font-size: 14px;
 	font-family: "Roboto";
  	color: rgb(152, 152, 152);
  	line-height: 1.286;
  	text-align: left;
}
.description-perfomance {
	position: absolute;
	left: 544px;
	top: 773px;
	width: 600px;
	height: 86px;
	z-index: 2;
}
.description-li {
	padding: 0;
	z-index: 2;
}
.description-perfomance-li {
	position: absolute;
	left: 544px;
	top: 882px;
	width: 700px;
}
.description-li li{
	font-size: 13px;
	font-family: "Xolonium";
	color: rgb(255, 3, 31);
	line-height: 23px;
	list-style-type:none;
	margin-right:75px;
	display: inline-block;
}
.blue-light {
	background-image: url(images/blue-light.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -207px;
	top: 184px;
	width: 1528px;
	height: 952px;
	max-width: 100%;
}
.best-picture {
	position: absolute;
    top: 1295.499px;
    left: -1px;
    right: -11px;
    width: 599px;
    height: 32px;
    margin: auto;
}
.descriptiom-picture {
	position: absolute;
	left:0;
	right: 0;
	margin:auto;
	top: 1345px;
	width: 930px;
	text-align: center;
}
.description-picture-li {
	width: 580px;
	position: absolute;
	left:87px;
	right: 0;
	margin:auto;
	top: 1420px;
}
.description-picture-li li{
	margin-right: 94px;
	text-align: center;
}
.best-picture-note {
	background-image: url(images/note-img3.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left:-6px;
	right: 0;
	margin:auto;
	top: 1474px;
	width: 1036px;
	height: 462px;
}
.fullcontrol-title {
	top: 2002px;
	width: 338px;
	right: 11px;
}
.description-fullcontrol {
	position: absolute;
	top: 2051px;
	left:0;
	right: 0;
	margin:auto;
	width: 883px;
	text-align: center;
	    z-index: 1;
}
.note-img4 {
	background-image: url(images/note-img4.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	    left: 85px;
    top: 1933px;
	width: 1040px;
	height: 728px;
	animation-name: keyboard;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.fullcontrol-li {
	position: absolute;
	left: 234.655px;
	top: 2135.095px;
	width: 900px;
}
.fullcontrol-li li{
	font-size: 13px;
	margin-right: 65px;
	font-family: "Xolonium";
	color: rgb(255, 3, 31);
	line-height: 1.077;
	text-align: center;
	display: inline-block;
	list-style-type:none;
	line-height: 23px;
}
.best-freez {
	position: absolute;
	left: 0;
    right: 0;
    text-align: center;
	top: 2623.58px;
}
.description-freez {
	position: absolute;
	left: 164.709px;
	top: 2674.023px;
	    width: 863px;
	text-align: center;
}
.best-music {
	position: absolute;
	left: 0;
    right: 0;
    text-align: center;
	top: 3247.499px;
}
.description-music {
	position: absolute;
	left: 87.456px;
	top: 3296.023px;
	text-align: center;
}
.best-utilit {
	position: absolute;
	left: 62px;
	top: 3916.499px;
}
.description-util {
	position: absolute;
	left: 56px;
	top: 3952.499px;
	width: 517px;
}
.personalinfo {
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(244, 3, 29);
	line-height: 1.357;
}
.aboutinfo {
	margin-top:15px;
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.357;
	opacity: 0.64;
}
.description-util ul {
	padding: 0;
	margin:0;
}
.description-util ul li{
	font-family: "Xolonium";
	font-size: 16px;
	color: rgb(255, 3, 31);
	line-height: 1.2;
	list-style-type: none;
	margin-top: 25px;
}
.description-util ul li:first-child {
	margin-top:46px;
}
.description-util ul li span{
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.357;
	opacity: 0.64;
}
.best-chars {
	position: absolute;
	left: 0;
    right: 0;
    text-align: center;
	top: 4543.499px;
}
.chars {
	display: grid;
	grid-template-columns: 604px 538px;
	position: absolute;
	left: 36.703px;
	top: 4594.623px;
	padding-left:  50px;
}
.title-char {
	width: 497px;
	height: 21px;
	line-height: 21px;
	padding-left: 5px;
	background-image: url(images/line.png);
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
}
.description-char{
	padding:15px 7px;
}
.description-char {
	display: inline-block;
	list-style-type: none;
	font-size: 13px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	opacity: 0.64;
}
.cooler2{
	width: 235px;
	height: 235px;
	position: absolute;
	    top: 189px;
    left: 136px;
	background-image: url(images/cooler/cooler2.png);
	animation-name: cooler;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cooler1{
	width: 252px;
	height: 252px;
	position: absolute;
	top: 179px;
    left: 127px;
	background-image: url(images/cooler/cooler1.png);
	z-index: 2;
}
.relative {
	width: 1142px;
	margin: auto;
	position: relative;
	text-align: center;
}
.animatedlogo {
	    position: absolute;
    left: 514px;
    top: 19.75px;
    display: none;
}
.techprods {
	font-size: 12px;
	font-family: "Roboto";
	color: rgb(117, 117, 117);
	position: absolute;
	left: 56px;
	top: 5202.734px;
	width: 851px;
}
.onerest {
	width: 44px;
	height: 44px;
	margin-left: 10px;
	display: inline-block;
}
.republic {
	background-image: url(images/republic-img.png);
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    top: 5269px;
    width: 630px;
    height: 59px;
    z-index: 11;
}

.social {
	position: absolute;
	left: 900px;
	top: 5829px;
	z-index: 10;
}
.header-logo-asus2 {
	position: relative;
	left: 40px;
	top: 5829px;
	width: 175px;
	height: 45px;
	z-index: 10;
}
.logo-text {
	font-size: 10px;
	font-family: "Roboto";
	color: rgb(145, 145, 145);
	line-height: 1.2;
	position: absolute;
	top: 5864px;
	left: 232px;
	z-index: 10;
}
.accept {
	z-index: 16;
	position: absolute;
	left: 168px;
	top: 375px;

}
@keyframes logo {
    0% {
       background-image: url(images/bg_ROG.jpg);
    }
    20% {
        background-image: url(images/bg_rog_active.jpg);
    }
    40% {
        background-image: url(images/bg_ROG.jpg);
    }
    100% {
        background-image: url(images/bg_ROG.jpg);
    }
}
@keyframes cooler {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes strix {
    0% {background-image: url(images/strix/strix-img.png);}
    25% {background-image: url(images/strix/strix2-img.png);}
    50% {background-image: url(images/strix/strix3-img.png);}
    75% {background-image: url(images/strix/strix4-img.png);}
    100% {background-image: url(images/strix/strix-img.png);}
}
@keyframes keyboard {
    0% {background-image: url(images/keyboard/basic-skin_optimized.jpg);}
    7% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    14% {background-image: url(images/keyboard/basic-skin_optimized.jpg);}
    21% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    28% {background-image: url(images/keyboard/basic-skin_optimized.jpg);}
    35% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    42% {background-image: url(images/keyboard/blue-skin_optimized.jpg);}
    49% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    56% {background-image: url(images/keyboard/green-skin_optimized.jpg);}
    63% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    70% {background-image: url(images/keyboard/purple-skin_optimized.jpg);}
    77% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    84% {background-image: url(images/keyboard/red-skin_optimized.jpg);}
    91% {background-image: url(images/keyboard/gray-skin_optimized.jpg);}
    98% {background-image: url(images/keyboard/yellow-skin_optimized.jpg);}
    100% {background-image: url(images/keyboard/basic-skin_optimized.jpg);}

}
_::-webkit-full-page-media, _:future, :root .description {
	font-size: 13px !important;
}
_::-webkit-full-page-media, _:future, :root .best-picture-note {
	top: 1533px !important;
}
_::-webkit-full-page-media, _:future, :root .description-picture-li {
	top: 1500px !important;
}
_::-webkit-full-page-media, _:future, :root .note-img4 {
	top: 1970px !important;
}
_::-webkit-full-page-media, _:future, :root .fullcontrol-li {
	top: 2182.095px !important;
}
_::-webkit-full-page-media, _:future, :root .description-util ul li {
	font-size: 13px !important;
}
_::-webkit-full-page-media, _:future, :root .aboutinfo {
	font-size: 12px !important;
}
_::-webkit-full-page-media, _:future, :root .description-util ul li span {
	font-size: 12px !important;
}
_::-webkit-full-page-media, _:future, :root .description-util ul li {
	margin-top: 5px !important;
}
_::-webkit-full-page-media, _:future, :root .description-util:last-child {
	display: none;
}